{% extends 'index.html.twig' %}

{% block title %}CalculationLog index{% endblock %}

{% block numeric_keyboard %}
    <div class="row">
        <div class ="col-12">
            <h3>Formula</h3>
            {{ form_start(form) }}
                <div class="row">
                    <div class="input-group mb-3">
                        {{ form_widget(form.calcInput, {'attr': {'type': 'text','class': 'form-control'}}) }}
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary">{{ button_label|default('Submit') }}</button>
                        </div>
                    </div>
                </div>
            {{ form_end(form) }}
            <form action="/" method="GET" class="navbar-form navbar-right" role="form">
                <button class="btn btn-outline-secondary col-12">Clear</button>
            </form>
        </div>
    </div>
{% endblock %}
